# BERT EVALUATION

### IMPORTS, VARIABLES

In [1]:
import pandas as pd

In [2]:
lemma_errors = pd.read_excel('../data/results/all_lemmas_annotated.xlsx')
xpos_errors = pd.read_excel('../data/results/all_xpos_annotated.xlsx')
upos_errors = pd.read_excel('../data/results/all_upos_annotated.xlsx')

### FUNCTIONS

In [3]:
def get_error_stats(errors: list):
    '''A function intended for creating and displaying statistics for manually annotated errors.
    
    Args:
        errors (DataFrame): a Pandas DataFrame created by reading from an .xlsx file containing manually annotated errors.
        
    Returns:
        A DataFrane containing the raw and relative frequencies for every error type found in the annotation.    
    '''
    stats = []
    for error in set(errors['Error Type']):
        raw = errors['Error Type'].value_counts()[error]
        relative = raw / len(errors)
        
        stats.append([error, raw, relative])
        
    stats_pd = pd.DataFrame(
        stats, 
        columns=['error', 'raw', 'relative']
    ).sort_values('relative', ascending=False).set_index('error')

    return stats_pd

### EXECUTION

In [4]:
get_error_stats(lemma_errors)

                raw  relative
error
y                35  0.241379
proper name      30  0.206897
nie              19  0.131034
spelling         12  0.082759
surname          12  0.082759
capitalization    8  0.055172
abbreviation      8  0.055172
e                 7  0.048276
name              3  0.020690
unidentified      3  0.020690
ambiguous         3  0.020690
problematic       2  0.013793
foreign           2  0.013793
archaic           1  0.006897

In [5]:
get_error_stats(xpos_errors)

              raw  relative
error
ambiguous     198  0.380038
unidentified   65  0.124760
proper name    52  0.099808
y              39  0.074856
digits         25  0.047985
problematic    22  0.042226
nie            20  0.038388
spelling       18  0.034549
archaic        17  0.032630
foreign        15  0.028791
surname        12  0.023033
uncommon       10  0.019194
currency        8  0.015355
e               7  0.013436
vocative        3  0.005758
gender          3  0.005758
name            2  0.003839
annotation      2  0.003839
abbreviation    2  0.003839
fpr             1  0.001919

In [6]:
get_error_stats(upos_errors)

                raw  relative
error
ambiguous       208  0.218029
capitalization  199  0.208595
y               109  0.114256
unidentified     62  0.064990
archaic          59  0.061845
UD               58  0.060797
e                41  0.042977
surname          41  0.042977
nie              28  0.029350
ending           24  0.025157
spelling         23  0.024109
proper name      21  0.022013
problematic      20  0.020964
digits           17  0.017820
foreign          13  0.013627
uncommon         12  0.012579
abbreviation     11  0.011530
impersonal        4  0.004193
name              2  0.002096
special           1  0.001048
currency          1  0.001048